.body {
    width: 100%;
    height: 100vh;
	background:transparent;
	background-position: center;
	background-size: cover; 
	}

.no_padding {
   padding: 0 !important;
   margin: 0 !important;
}
.wrap {
	perspective: none;
	perspective-origin: 100% 100px;
}
/*
img{

	height: auto;
	width: 100%;
}
*/

.login_page{
	background-image: url('../images/Login_page1.png');	
	width: 100%;
	height: 100vh;	
	padding: 10% 0 0;
}

.register_page{
	background-image: url('../images/Login_page1.png');	
	width: 100%;
	height: 100vh;	
	padding: 10% 0 0;
}

.form{
	position: relative;
	z-index: 1;
	background: #e2925d;
	max-width: 360px;
	margin: 0 auto	100px;
	padding: 80px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif; 
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0; 
	margin: 0 0 10px; 	
	box-sizing: border-box;
	font-size: 14px; 
	font-style: italic;
	font-weight: lighter; 
}

.form button{
	font-family: "Roboto", sans-serif; 
	text-transform: uppercase;
	outline: 0;
	background: #ffd800; 
	width:auto;
	border: 0;
	padding: 5px; 
	font-size: 14px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
/*ako stignem, button slow transition*/
.form button:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
p.message {
	padding-top: 10%;  
}












/*problem mi je mislim kod uporabe absolute/relative. Da bi mi kocka ispala kako spada morao sam se 
igrati sa .cube da bi ju dobio na desnoj strani. 
Vjerojatno mi je kriv html dio, pa mi ovdje kocku krivo pokazuje?*/
.cube{

	/*width: 220px;*/
	position: absolute;
	right: 5px;
	top: 45%;
	width: 200px;
	transform-style: preserve-3d;
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

.cube-wrap.vertical .cube {
	margin: 0 auto; /* keeps the cube centered */

	transform-origin: 0 100px;
	animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-100px);
}

.cube-wrap.vertical .back {
	transform: translateZ(-100px) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(100px);
}
/*Media */
@media screen and (max-width: 320px) {
	
}

@media screen and (min-width: 320px) and (max-width: 480px){
	
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	
}
@media screen and (min-width: 1224px) {
	

}

@media screen and (min-width: 1824px) {
	
}

/*button*/

